node_modules/
.env
.env.*
/api/.env
.vercel/
/frontend/dist/
coverage/
/sessions/
*.pem
api/sessions/loki.db
api/sessions/loki.db
.vscode/diff/vulsResult.txt
.vscode/diff/diff-main.json
.vscode/diff/vulsCount.txt
.vscode/diff/vulsResult.txt
