* {
  font-family: 'Gabarito', sans-serif;
}

/* Dark/Light theme mode */
body {
  transition: background-color .5s;
}

/* target react-router-dom 'active' class */
.basenav__link.active {
  text-decoration: underline;
  cursor: default;
}