@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
  --primary: #1DB954;
  --secondary: #191414;
}

* {
  font-family: 'Gabarito', sans-serif;
}

body {
  background-color: var(--secondary);
}